form, input, div, select {
    font-family: "Century Gothic";
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 99vw;
    font-size: 20px;
    font-family: "Century Gothic";
    background-color: black;
    color: black;
}

div {
    display: flex;
    align-items: center;
    background-color: white;
    color: black;
    border: 3px solid black;
    border-radius: 10px;
}

.navigation {
    display: flex;
    flex-direction: row;
    height: 6vh;
    width: 98vw;
    border: none;
    background-color: inherit;
    box-shadow: inset 0px 0px 0px 0px black;
    justify-content: space-between;
}

.navigation_item_block {
    height: 6vh;
    width: 48vw;
    border: none;
    align-items: center;
}

.nav_item_button {
    height: 6vh;
    width: 48vw;
    background-color: white;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    font-family: "Century Gothic";
    cursor: pointer;
    box-shadow: 0 0 8px 8px darkgray;
}

.nav_item_button:hover {
    box-shadow: 0 0 5px 5px black;
}

.main_block {
    height: 88vh;
    width: 98vw;
    flex-direction: row;
    justify-content: space-around;
    border: none;
    background-color: inherit;
    margin-top: 2vh;
}

.content_block {
    height: 86vh;
    width: 76vw;
    border: none;
    background-color: lightgray;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: 0 0 8px 8px darkgray;
}

.search_block {
    height: 5vh;
    width: 74vw;
    border: none;
    background-color: inherit;
    flex-direction: row;
}
.task_name_input {
    height: 4vh;
    width: 62vw;
    border: none;
    border-radius: 10px;
    /*border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;*/
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 1vw;
    box-shadow: 0 0 5px 5px darkgray;
}

.task_name_input:focus {
    outline: none;
}
.task_name_input:hover {
    box-shadow: inset 0 0 3px 3px darkgray;
}

.search_button {
    height: 5vh;
    width: 8vw;
    background-color: white;
    border: none;
    border-radius: 10px;
    /*border-left: 3px solid black;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;*/
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0 0 5px 5px darkgray;
}

.search_button:hover {
    /*background-color: black;
    color: white;*/
    box-shadow: 0 0 3px 3px;
}

/* СПИСОК ЗАДАЧ */

.task_list_block {
    height: 72vh;
    width: 74vw;
    border: none;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: 0 0 5px 5px darkgray;
    overflow-y: auto;
    overflow-x: hidden;
}

.task_list_block::-webkit-scrollbar {
    width: 12px;
}

.task_list_block::-webkit-scrollbar-track {
    background-color: lightgray;
    border-radius: 15px;
    /*box-shadow: inset 0px 0px 2px 2px black;*/
    margin-top: 7px;
    margin-bottom: 7px;
}

.task_list_block::-webkit-scrollbar-thumb {
    background-color: dimgray;
    border: none;
    border-radius: 15px;
}

.task_list_block::-webkit-scrollbar-thumb:hover {
    box-shadow: inset 0px 0px 2px 2px black;
}

.task_table {
    height: auto;
    width: 72vw;
    /*border: 3px solid black;*/
}

.task_table thead {

}

.task_table tbody {
    overflow: auto;
}

.task_table th {
    height: 5vh;
    border: none;
    box-shadow: inset 0 0 3px 3px darkgray;
}

.task_table .top_left {
    width: 8vw;
    border: none;
    border-radius: 10px;
}

.task_table .top_center {
    width: 46vw;
    border: none;
    border-radius: 10px;
}

.task_table .top_right {
    border: none;
    border-radius: 10px;
}

.task_table td {
    height: 5vh;
    text-align: center;
    border: none;
    border-radius: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    box-shadow: inset 0 0 3px 3px darkgray;
}

.task_name_button {
    height: 5vh;
    width: inherit;
    cursor: pointer;
}

/* ПАНЕЛЬ ФИЛЬТРОВ */

.filters_block {
    height: 86vh;
    width: 18vw;
    flex-direction: column;
    justify-content: space-around;
    border: none;
    background-color: lightgray;
    box-shadow: 0 0 8px 8px darkgray;
}

.filters_block .title {
    height: 4vh;
    width: auto;
    border: none;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: inset 0 0 2px 2px darkgray;
}

.sort_block {
    height: 4vh;
    width: 18vw;
    flex-direction: column;
    border: none;
}

.sort_by {
    height: 4vh;
    width: 17vw;
    border: none;
    justify-content: center;
}

.sort_by select {
    height: 4vh;
    width: 17vw;
    text-align: center;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0 0 2px 2px darkgray;
}

.sort_dir {
    height: 4vh;
    width: 17vw;
    border: none;
    justify-content: center;
}

.sort_dir select {
    height: 4vh;
    width: 17vw;
    text-align: center;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0 0 2px 2px darkgray;
}

.deadline {
    height: 16vh;
    width: 17vw;
    border: none;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: 0 0 3px 3px darkgray;
    padding-bottom: 3px;
}

.deadline_title {
    height: 4vh;
    width: auto;
    border: none;
    border-radius: 10px;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
}

.deadline_range_start {
    height: 4vh;
    width: 15vw;
    border: none;
    justify-content: space-around;
    padding-left: 10px;
    padding-right: 10px;
}

.deadline_range_start input {
    height: 4vh;
    width: 12vw;
    font-size: 20px;
    text-align: center;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 2px 2px darkgray;
}

.deadline_range_end {
    height: 4vh;
    width: 15vw;
    border: none;
    justify-content: space-around;
    padding-left: 10px;
    padding-right: 10px;
}

.deadline_range_end input {
    height: 4vh;
    width: 12vw;
    font-size: 20px;
    text-align: center;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 2px 2px darkgray;
}

.timestamp {
    height: 16vh;
    width: 17vw;
    border: none;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: 0 0 3px 3px darkgray;
    padding-bottom: 3px;
}

.timestamp_title {
    height: 4vh;
    width: auto;
    border: none;
    border-radius: 10px;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
}

.timestamp_range_start {
    height: 4vh;
    width: 15vw;
    border: none;
    justify-content: space-around;
    padding-left: 10px;
    padding-right: 10px;
}

.timestamp_range_start input {
    height: 4vh;
    width: 12vw;
    font-size: 20px;
    text-align: center;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 2px 2px darkgray;
}

.timestamp_range_end {
    height: 4vh;
    width: 15vw;
    border: none;
    justify-content: space-around;
    padding-left: 10px;
    padding-right: 10px;
}

.timestamp_range_end input {
    height: 4vh;
    width: 12vw;
    font-size: 20px;
    text-align: center;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 2px 2px darkgray;
}

.priority {
    height: 10vh;
    width: 17vw;
    border: none;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: 0 0 3px 3px darkgray;
    padding-bottom: 3px;
}

.priority_title {
    height: 4vh;
    width: auto;
    border: none;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.priority_value {
    height: 4vh;
    width: auto;
    border: none;
    border-radius: 10px;
}

.priority_value select {
    height: 4vh;
    width: 10vw;
    font-size: 20px;
    text-align: center;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 2px 2px darkgray;
}

.status {
    height: 10vh;
    width: 17vw;
    border: none;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: 0 0 3px 3px darkgray;
    padding-bottom: 3px;
}

.status_title {
    height: 4vh;
    width: auto;
    border: none;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.status_value {
    height: 4vh;
    width: auto;
    border: none;
    border-radius: 10px;
}

.status_value select {
    height: 4vh;
    width: 12vw;
    font-size: 20px;
    text-align: center;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 2px 2px darkgray;
}
.filters_block input:hover, .filters_block select:hover {
    box-shadow: inset 0 0 1px 1px;
}
.priority_value select:focus {
    outline: none;
}
.filters_block .submit {
    height: 5vh;
    width: 12vw;
    background-color: white;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 0 2px 2px darkgray;
}
.filters_block .submit:hover {
    box-shadow: 0 0 3px 3px black;
}

