<!DOCTYPE html>
<html lang="en" , xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Task info</title>
    <!--<link href="/static/task/task_info.css" rel="stylesheet">-->
    <link href="/task/task_info.css" rel="stylesheet">
</head>
<body>

<nav>
    <div class="navigation">
        <div class="navigation_item_block">
            <form action="/tasks/list" method="get">
                <input type="submit" value="СПИСОК ЗАДАЧ" class="nav_item_button">
            </form>
        </div>
        <div class="navigation_item_block">
            <form action="/users/list" method="get">
                <input type="submit" value="СПИСОК ПОЛЬЗОВАТЕЛЕЙ" class="nav_item_button">
            </form>
        </div>
    </div>
</nav>

<div class="main_block">
    <div class="task_info_div_title">ИНФОРМАЦИЯ О ЗАДАЧЕ</div>
    <div class="id_div">
        <div class="id_label_div">ID:</div>
        <div class="id_value_div" th:text="${task.getId()}">ID</div>
    </div>
    <div class="title_div">
        <div class="title_label_div">Название:</div>
        <div class="title_value_div" th:text="${task.getTitle()}">title</div>
    </div>
    <div class="author_div">
        <div class="author_label_div">Автор:</div>
        <div class="author_value_div">
            <a th:href="@{/users/user_{id}(id=${task.getAuthor().getId()})}"
               th:text="${task.getAuthor().getName() + ' ' + task.getAuthor().getSurname()}"/>
        </div>
    </div>
    <div class="performer_div">
        <div class="performer_label_div">Исполнитель:</div>
        <div class="performer_value_div">
            <a th:href="@{/users/user_{id}(id=${task.getPerformer().getId()})}"
               th:text="${task.getPerformer().getName() + ' ' + task.getPerformer().getSurname()}"/>
        </div>
    </div>
    <div class="priority_div">
        <div class="priority_label_div">Приоритет:</div>
        <div class="priority_value_div" th:text="${task.getPriority().getRuString()}">priority</div>
    </div>
    <div class="status_div">
        <div class="status_label_div">Статус:</div>
        <div class="status_value_div" th:text="${task.getStatus().getRuString()}">status</div>
    </div>
    <div class="timestamp_div">
        <div class="timestamp_label_div">Дата создания:</div>
        <div class="timestamp_value_div" th:text="${task.getCreatedAt()}">created at</div>
    </div>
    <div class="deadline_div">
        <div class="deadline_label_div">Дедлайн:</div>
        <div class="deadline_value_div" th:text="${task.getDeadline()}">deadline</div>
    </div>
    <div class="description_div">
        <div class="description_label_div">Описание:</div>
        <div class="description_value_div" th:text="${task.getDescription()}">description</div>
    </div>
</div>
</body>
</html>