body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 99vw;
    font-size: 20px;
    font-family: "Century Gothic";
    background-color: black;
    color: black;
}

div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: black;
    border-radius: 10px;
    word-break: break-all;
}

.navigation {
    display: flex;
    flex-direction: row;
    height: 6vh;
    width: 98vw;
    border: none;
    margin-bottom: 10px;
    background-color: inherit;
    box-shadow: inset 0px 0px 0px 0px black;
    justify-content: space-between;
}

.navigation_item_block {
    height: 6vh;
    width: 48vw;
    border: none;
    align-items: center;
}

.nav_item_button {
    height: 6vh;
    width: 48vw;
    background-color: white;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    font-family: "Century Gothic";
    cursor: pointer;
    box-shadow: 0 0 5px 5px darkgray;
}

.nav_item_button:hover {
    box-shadow: 0 0 5px 5px black;
}

.main_block {
    flex-direction: column;
    height: 86vh;
    width: 50vw;
    justify-content: flex-start;
    border: none;
    background-color: lightgray;
    box-shadow: 0 0 10px 10px darkgray;
    margin-top: 3vh;
}

.user_info_div_title {
    height: 6vh;
    width: 24vw;
    border: none;
    box-shadow: 0 0 5px 5px darkgray;
    margin-top: 5vh;
    margin-bottom: 10vh;
}

/* Блок с ID */
.id_div {
    flex-direction: row;
    border: none;
    box-shadow: 0 0 5px 5px darkgray;
    margin-bottom: 3vh;
}

.id_label_div {
    height: 6vh;
    width: 10vw;
    border: none;
    border-right: 5px solid darkgray;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.id_value_div {
    height: 6vh;
    width: 30vw;
    border: none;
}

.name_div {
    flex-direction: row;
    border: none;
    box-shadow: 0 0 5px 5px darkgray;
    margin-bottom: 3vh;
}

.name_label_div {
    height: 6vh;
    width: 10vw;
    border: none;
    border-right: 5px solid darkgray;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.name_value_div {
    height: 6vh;
    width: 30vw;
    border: none;
}

/* Блок с фамилией */
.surname_div {
    flex-direction: row;
    border: none;
    box-shadow: 0 0 5px 5px darkgray;
    margin-bottom: 3vh;
}

.surname_label_div {
    height: 6vh;
    width: 10vw;
    border: none;
    border-right: 5px solid darkgray;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.surname_value_div {
    height: 6vh;
    width: 30vw;
    border: none;
}

/* Блок с должностью */
.position_div {
    flex-direction: row;
    border: none;
    box-shadow: 0 0 5px 5px darkgray;
    margin-bottom: 3vh;
}

.position_label_div {
    height: 6vh;
    width: 10vw;
    border: none;
    border-right: 5px solid darkgray;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.position_value_div {
    height: 6vh;
    width: 30vw;
    border: none;
}

/* Блок с email */
.email_div {
    flex-direction: row;
    border: none;
    box-shadow: 0 0 5px 5px darkgray;
    margin-bottom: 3vh;
}

.email_label_div {
    height: 6vh;
    width: 10vw;
    border: none;
    border-right: 5px solid darkgray;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.email_value_div {
    height: 6vh;
    width: 30vw;
    border: none;
}
